<body style=background-size:cover; background="https://farm4.staticflickr.com/3014/2774676620_fcef19f24a_b.jpg">
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section align='center'>
        <%= render 'shared/user_info' %>
      </section>
      <hr>
      <section >
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Book Hub</h1>

    <i style=>
      ----The world easiest way to manager your book! 
    </i><br>
    <hr>
    <!--<%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>-->
    <%= link_to "Sign in", signin_path %> to manager you book
  </div>
<% end %>
</body>